<footer class="footer">
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact",contact_path %></li>
<li id="image"><%= link_to image_tag("facebook.jpeg", :alt=>"facebook"), 'www.facebook.com/'%></li>
<li id="image"><%= link_to image_tag("twitter.jpeg", :alt=>"twitter"), 'https://twitter.com/'%></li>
</ul>
</nav
</footer>